.section4{
    font-family: "Hiragino Sans GB";
    letter-spacing:3px;
    line-height:1.5em; 
    color:#171f3b;
}
.section4 ul .h-positons {
    margin: 0;
    padding: 0;
}
.section4 ul{
   width: 800px;
   margin: 0 auto;
   height: 180px;
   margin-top:60px; 
}

.section4 ul li{
    float: left;
    width: 200px;
    font-size:19.43px;
    text-align: left;
}
.section4 ul li a{
    font-size: 19.43px;
    color: #1d8ec9;
}
.section4 .intriduce{
    font-size:19.43px;
    margin: 0 auto;
    width:700px;
    height: 100px;
    margin-top:60px;
    text-align: left;
    font-weight: bold;

}
.section4{
    color:#000;
}
.section4 .job{
    font-size:19.43px;
    display: block;
    font-weight: bold;
}
.section4 h3{
    text-align:center;
    font-size:36.37px;
    margin-top:10px;
       
}
.section4 h5{
    background-color:#171f3b;
    width:100%;
    position:absolute;
    bottom:0px;
    color:#fff;
    font-size:19.43px;
    height: 50px;

}
.section4 h5 .text1{
    float:left;
    margin-left:20px;
}
.section4 h5 .text2{
    float:right;
    margin-right:20px;
    line-height:3em;
}
.section4 .dot{
    display: inline-block;
    width: 5px;
    height: 5px;
    background:#000;
    margin-right:5px;
    text-align: left;
}   
 
    


