.histogram_TotalMsgCount{
    margin-top: 20px;
    /*display: none;*/
}
.histogram_ActiveUserCount{
    margin-top: 20px;
    /*display: none;*/
}
.histogram_MonitorChatCount{
    margin-top: 20px;
}
.histogram_MonitorMentioned{
    margin-top: 20px;
}
.histogram_Keyword_Blocked{
    margin-top: 20px;
}
.histogram_Keyword_WhiteList{
    margin-top: 20px;
}
.axis_histo path,
.axis_histo line{
    fill: none;
    stroke: black;
    shape-rendering: cripsEdges;
}
.axis_histo text{
    font-size: 11px;
}
.axis_line path,
.axis_line line{
    fill: none;
    stroke: black;
    stroke-width: 5px;
    shape-rendering: cripsEdges;
}
.bar{
    
}
.bar:hover{
    fill:orange;
}
.lable_histo,.divBox_histo{
    position: absolute;
    cursor:pointer;
}
.yearbox_time{
    fill: none;
    pointer-events: all;
    cursor: ew-resize;
}
.label_time {
    font: 500 136px "Helvetica Neue";
    fill: #ddd;
}
